.box-container {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
}

.box{
    height: 200px;
    width: 300px;
    background-color: rgb(4, 156, 156);
    margin: 10px;
    z-index: -1;
}

#big-box {
    width: 942px;
    height: 350px
}

.break {
    flex-basis: 100%;
  height: 0;
}

#earth-box {
    background-color:rgba(201,226,101,255);
    width: 942px;
    height: 20px;
    /* z-index: -1; */
}

.circle {
    background-color: rgba(255,136,136,255);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: inline-block;
}

#i-circle{
    margin-left: 55px;
    margin-top: -80px;
    position: absolute;
    /* background-color: blue; */
    z-index: 1;
}

#ii-circle {
    margin-left: 55px;
    margin-right: 40px;
    margin-top: 77px;
    position: relative;
    z-index: 1;
    /* background-color: bisque; */
}

#bg-yellow-circle {
    background-color: #ffde59;
    height: 115px;
    width: 115px;
    margin-top: -60px;
    margin-left: 25px;
    position: absolute;
}

#sm-yellow-circle {
    background-color: gold;
    margin-top: 170px;
    margin-left: 7px;
    position: absolute;
}

#bg-pink-circle {
    height: 115px;
    width: 115px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 140px;
}

#iii-circle {
    /* background-color: dimgray; */
    margin-left: 240px;
    margin-top: -50px;
    position: absolute;
    z-index: 1;
}


.tree {
  height: 0;
  width: 0;
  border-left: 195px solid transparent;
  border-right: 195px solid transparent;
  border-bottom: 395px solid #048334;
  display: inline-block;
  margin-left: 500px;
  margin-top: -40px;
  /* margin-right: 200px; */
  display: inline-block;
  position: absolute;
  z-index: 1;
}


#small-tree {
    position: relative;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 275px solid rgba(201,226,101,255);
    margin-left: 700px;
    margin-top: 80px;
    z-index: 2;
}


.people-icon{
    width: 100px;
    position: relative;
    z-index: 3;
    margin-top: 260px;
}


#subscribe-form{
    margin-top: 100px;
}